@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding:0;
    /* box-sizing: border-box; */
    text-decoration: none;
    list-style:none ;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    z-index: 0;
}

body{
    background-color:#ffffff;
    display: grid;
    grid-template-rows: 1fr 10rem auto;
    grid-template-areas: "main" "." "footer";
    overflow-x: hidden;
    background: #F5F7FA;
    font-family: 'Open Sans', sans-serif;
}
.menu-icono{
width: 150px;
}
.container{
    display: flex;
    justify-content: center;
}

.menu{
    position:sticky;
    top:0;
    left:0;
    right:0;
    display:flex;
    align-items:center;
    justify-content: space-between;
    z-index: 99999;
    height: 100px;
    background-color: #fff;
}

.logo{
    display: flex;
    flex-direction: row;
    color:#48a8d4;
    font-size:10px;
    font-weight:800;
    text-transform:uppercase;
}

.name {
    font-size: 2rem;
}

.menu .navbar ul li{
    position:relative;
    float:left;
} 
button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #ffffff;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  
  button span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 40px;
    background-color:#0099ff;
    border-radius: 50%;
    transition: .6s ease;
  }
  
  button span:nth-child(6) {
    position: relative;
  }
  
  button span:nth-child(1) {
    transform: translate(-3.3em, -5em);
  }
  
  button span:nth-child(2) {
    transform: translate(-6em, 3.3em);
}
  
  button span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
  }
  
  button span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
  }
  
  button span:nth-child(5) {
    transform: translate(3.5em, 3.8em);
  }
  button:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
}
.head-content{
    display: flex;
    width: 80%;
    margin: 5% 10%;
}
.text{
    color: black;
    font-weight: bold;
    font-size: large;
  }
.menu .navbar ul li a{
    font-size:18px;
    padding:20px;
    color: #0099ff;
    display:block;
    font-weight:600;
} 
.menu .navbar ul li a:hover{
    color:#694cd3 ; 
}
#menu{
    display:none;
}
.menu-icono{
    width: 60px;
    margin-right: 5px;
}
.menu label{
    cursor:pointer;
    display:none;
}
.header-txt{
    text-align: center;
    padding:0 50px;
}
h1, .slogan{
    font-size: 40px;
    line-height:1;
    color:#48a8d4;
    margin-bottom:25px; 
}
h2, .n1{
    color: #48a8d4;
    font-size:20px;
    line-height:2;
    text-align: center;
}
span{
   color: #694cd3;
}
p{
    font-size:15px;
    color:#000000;
    font-weight:400;
}

.information{
    width: 80%;
    margin: 5% 5%;
}

.information.container {
    width: 90%;
    /* height: 768px; */
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.information.container h3{
    text-align:center;
    margin-bottom: 10px;
}
.information.container p{
    text-align: center;
}
.container-resp {
    width: 500px;
    height: 300px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 2rem;
    margin: 20px;
}
.container-morado {
    background-color: #694cd3;
}
.container-azul {
    background-color:#0099ff;
}
.footer {
    z-index: 1;
    --footer-background: #0099ff;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
}
.footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
}
.footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    transform: translate(-50%, 100%);
}
.footer .bubbles .bubble {
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
        bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
}
.footer .content {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: var(--footer-background);
}
.footer .content a, .footer .content p {
    color: #F5F7FA;
    text-decoration: none;
    
}
.footer .content b {
    color: rgb(255, 255, 255);
    
}
.footer .content p {
    margin: 0;
    color: #ffffff;
    font-size: 0.75rem;
    justify-content: left;
}
.footer .content > div {
    display: flex;
    justify-content: center;
}
.footer .content > div > div {
    margin: 0.25rem 0;
}
.footer .content > div > * {
    margin-right: 0.5rem;
}
.footer .content > div .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
}
@keyframes bubble-size {
    0%, 75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }
    100% {
        width: 0rem;
        height: 0rem;
    }
}
@keyframes bubble-move {
    0% {
        bottom: -4rem;
    }
    100% {
        bottom: var(--distance, 10rem);
    }
}
.map{
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}
iframe{
    width:500px;
    height:350px;
    margin: 0;
    box-shadow: 0px 0px 10px rgba(1, 2, 3, 0.473);
}

.maps_2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.iframe_2{
    display: flex;
    width:200px;
    height:200px;
    margin:0;
    box-shadow: 0px 0px 10px rgba(1, 2, 3, 0.473);
}

.lineMapFooter{
    width: 100%;
    height: 2px;
    background-color: #F5F7FA;
}

.QR{
    width: 150px;
    height: 150px;
}

.social{
    display: flex;
    flex-direction: row;
}

.iconSocial{
    width: 40px;
    margin: 5px;
}

.subContainer2footer{
    display: flex;
    flex-direction: column;
}

.subContainer2footer h4{
    background-color: #694cd3;
    text-align: center;
    padding: 4px;
    border-radius: 25px;
    transition: scale linear 100ms;
}

.subContainer2footer h4:hover{
    background-color: #48a8d4;
    scale: 105%;
}

.information.container .politics{
    text-align: left;
}

.publicity{
    width: 100%;
    padding: 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    background-color: #694cd334;
}

.containerPublicity{
    display: flex;
    justify-content: center;
    width: 40%;
    flex-wrap: wrap;
}

.containerPublicity a{
    width: max-content;
    text-align: center;
    margin: 20px 0;
}

.circlePublicity{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: opacity linear 200ms;
    margin: 10px 50px;
}

.folleto{
    background-image:url(folleto.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.volante{
    background-image:url(volante.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.catalogo{
    background-image:url(catalogo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.infografia{
    background-image:url(infografia.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.video{
    background-image:url(video.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.circlePublicity:hover{
    filter: brightness(50%);
}